   <app-header></app-header>
    <app-sidebar></app-sidebar>
    <!--Container Main start-->
    <div class="height-100 pb-3">
        <div class="container pt-3">
            
                <!-- <div class="col-md-12 mb-5"> -->
                    <app-top-cards></app-top-cards>
                <!-- </div> -->
                <div class="row mt-4">
                <div class="col-md-8">
                    <app-recent-orders></app-recent-orders>
                </div>
                <div class="col-md-4">
                    <app-new-users></app-new-users>
                </div>
            </div>
            <div class="row mt-4 mb-4">
                <div class="col-md-4">
                    <app-line-chart></app-line-chart>
                </div>
                <div class="col-md-5">
                    <app-column-chart></app-column-chart>
                </div>
                <div class="col-md-3">
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
        </div>
        
    </div>
    <!--Container Main end-->