<div class="row mt-3">
    <ng-container *ngFor="let item of topCardDetails;">
        <div class="col-md-3">
    <div class="card" >
        <div class="card-body " [ngClass]="item.value == 15 ? 'text-white bg-primary' : ''">
            <div class="card-top d-flex justify-content-between">
                <h2>{{item.value}}%</h2>
                <i *ngIf="item.value == 15" class="fa-solid fa-music"></i>
                <i *ngIf="item.value == 35" class="fa-solid fa-download"></i>
                <i *ngIf="item.value == 30" class="fa-brands fa-dashcube"></i>
                <i *ngIf="item.value == 9" class="fa-solid fa-arrows-rotate"></i>
            </div>
          <h5 class="card-title">{{item.header}}</h5>
          <p class="card-text">{{item.sub_header}}</p>
        </div>
      </div>
    </div>
</ng-container>
</div>

